In [225]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import random

In [226]:
df = pd.read_csv('dirty_cafe_sales.csv')
df

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4,1.0,ERROR,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11
...,...,...,...,...,...,...,...,...
9995,TXN_7672686,Coffee,2,2.0,4.0,NaN,UNKNOWN,2023-08-30
9996,TXN_9659401,NaN,3,NaN,3.0,Digital Wallet,NaN,2023-06-02
9997,TXN_5255387,Coffee,4,2.0,8.0,Digital Wallet,NaN,2023-03-02
9998,TXN_7695629,Cookie,3,NaN,3.0,Digital Wallet,NaN,2023-12-02
9999,TXN_6170729,Sandwich,3,4.0,12.0,Cash,In-store,2023-11-07

In [227]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    10000 non-null  object
 1   Item              9667 non-null   object
 2   Quantity          9862 non-null   object
 3   Price Per Unit    9821 non-null   object
 4   Total Spent       9827 non-null   object
 5   Payment Method    7421 non-null   object
 6   Location          6735 non-null   object
 7   Transaction Date  9841 non-null   object
dtypes: object(8)
memory usage: 625.1+ KB

In [228]:
df.isnull().sum()

Transaction ID         0
Item                 333
Quantity             138
Price Per Unit       179
Total Spent          173
Payment Method      2579
Location            3265
Transaction Date     159
dtype: int64

In [229]:
df['Item'].value_counts()

Item
Juice       1171
Coffee      1165
Salad       1148
Cake        1139
Sandwich    1131
Smoothie    1096
Cookie      1092
Tea         1089
UNKNOWN      344
ERROR        292
Name: count, dtype: int64

In [230]:
df = df.replace(['UNKNOWN', 'ERROR'], np.nan)

In [231]:
numeric_cols = ["Price Per Unit", "Quantity", "Total Spent"]

for col in numeric_cols:
    df[col] = pd.to_numeric(df[col], errors="coerce")

In [232]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    10000 non-null  object
 1   Item              9031 non-null   object
 2   Quantity          9521 non-null   float64
 3   Price Per Unit    9467 non-null   float64
 4   Total Spent       9498 non-null   float64
 5   Payment Method    6822 non-null   object
 6   Location          6039 non-null   object
 7   Transaction Date  9540 non-null   object
dtypes: float64(3), object(5)
memory usage: 625.1+ KB

In [233]:
df.isnull().sum()

Transaction ID         0
Item                 969
Quantity             479
Price Per Unit       533
Total Spent          502
Payment Method      3178
Location            3961
Transaction Date     460
dtype: int64

In [234]:
df['Item'].value_counts()

Item
Juice       1171
Coffee      1165
Salad       1148
Cake        1139
Sandwich    1131
Smoothie    1096
Cookie      1092
Tea         1089
Name: count, dtype: int64

In [235]:
df['Quantity'] = df['Quantity'].fillna(df['Total Spent'] / df['Price Per Unit'])

df = df.dropna(subset=['Quantity'])

In [236]:
df['Quantity'].value_counts()

Quantity
5.0    2106
2.0    2052
3.0    1946
4.0    1937
1.0    1921
Name: count, dtype: int64

In [237]:
df['Item'].value_counts()

Item
Juice       1168
Coffee      1159
Salad       1145
Cake        1135
Sandwich    1126
Smoothie    1092
Cookie      1087
Tea         1084
Name: count, dtype: int64

In [238]:
df.isnull().sum()

Transaction ID         0
Item                 966
Quantity               0
Price Per Unit       515
Total Spent          482
Payment Method      3165
Location            3947
Transaction Date     458
dtype: int64

In [239]:
df['Total Spent'] = df['Total Spent'].fillna(df['Quantity'] * df['Price Per Unit'])

df['Price Per Unit'] = df['Price Per Unit'].fillna(df['Total Spent'] / df['Quantity'])

In [240]:
df.isnull().sum()

Transaction ID         0
Item                 966
Quantity               0
Price Per Unit        20
Total Spent           20
Payment Method      3165
Location            3947
Transaction Date     458
dtype: int64

In [241]:
df = df.dropna(subset=['Price Per Unit'])
df = df.dropna(subset=['Total Spent'])

df = df.reset_index(drop=True)

In [242]:
df

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2.0,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4.0,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4.0,1.0,4.0,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2.0,5.0,10.0,NaN,NaN,2023-04-27
4,TXN_3160411,Coffee,2.0,2.0,4.0,Digital Wallet,In-store,2023-06-11
...,...,...,...,...,...,...,...,...
9937,TXN_7672686,Coffee,2.0,2.0,4.0,NaN,NaN,2023-08-30
9938,TXN_9659401,NaN,3.0,1.0,3.0,Digital Wallet,NaN,2023-06-02
9939,TXN_5255387,Coffee,4.0,2.0,8.0,Digital Wallet,NaN,2023-03-02
9940,TXN_7695629,Cookie,3.0,1.0,3.0,Digital Wallet,NaN,2023-12-02
9941,TXN_6170729,Sandwich,3.0,4.0,12.0,Cash,In-store,2023-11-07

In [243]:
df.isnull().sum()

Transaction ID         0
Item                 963
Quantity               0
Price Per Unit         0
Total Spent            0
Payment Method      3158
Location            3940
Transaction Date     457
dtype: int64

In [244]:

price_item_counts = (
    df
    .groupby(["Price Per Unit", "Item"])
    .size()
    .reset_index(name="Count")
    .sort_values(["Price Per Unit", "Count"], ascending=[True, False])
)
print(price_item_counts)

   Price Per Unit      Item  Count
0             1.0    Cookie   1084
1             1.5       Tea   1081
2             2.0    Coffee   1158
4             3.0     Juice   1167
3             3.0      Cake   1134
5             4.0  Sandwich   1122
6             4.0  Smoothie   1089
7             5.0     Salad   1144

In [245]:
price_to_item = {
    1.50: "Tea",
    2.00: "Coffee",
    5.00: "Salad",
    1.00: "Cookie"
}

def fix_item(row):
    if pd.isna(row["Item"]):
        price = row["Price Per Unit"]
        
        if price == 3.00:
            return random.choice(["Cake", "Juice"])
        elif price == 4.00:
            return random.choice(["Sandwich", "Smoothie"])
        
        return price_to_item.get(price, row["Item"])

    return row["Item"]

df["Item"] = df.apply(fix_item, axis=1)

In [246]:
df.isnull().sum()

Transaction ID         0
Item                   0
Quantity               0
Price Per Unit         0
Total Spent            0
Payment Method      3158
Location            3940
Transaction Date     457
dtype: int64

In [247]:
df['Item'] = df['Item'].str.strip().str.capitalize()

In [248]:
df['Transaction Date'] = pd.to_datetime(df['Transaction Date'], errors='coerce')
df = df.dropna(subset=['Transaction Date'])

df['Payment Method'] = df['Payment Method'].fillna('Unknown')
df['Location'] = df['Location'].fillna('Unknown')

df = df.reset_index(drop=True)

C:\Users\elbahy\AppData\Local\Temp\ipykernel_37612\2586484807.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Payment Method'] = df['Payment Method'].fillna('Unknown')
C:\Users\elbahy\AppData\Local\Temp\ipykernel_37612\2586484807.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Location'] = df['Location'].fillna('Unknown')

In [249]:
df.isnull().sum()

Transaction ID      0
Item                0
Quantity            0
Price Per Unit      0
Total Spent         0
Payment Method      0
Location            0
Transaction Date    0
dtype: int64

In [250]:
df

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2.0,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4.0,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4.0,1.0,4.0,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2.0,5.0,10.0,Unknown,Unknown,2023-04-27
4,TXN_3160411,Coffee,2.0,2.0,4.0,Digital Wallet,In-store,2023-06-11
...,...,...,...,...,...,...,...,...
9480,TXN_7672686,Coffee,2.0,2.0,4.0,Unknown,Unknown,2023-08-30
9481,TXN_9659401,Cookie,3.0,1.0,3.0,Digital Wallet,Unknown,2023-06-02
9482,TXN_5255387,Coffee,4.0,2.0,8.0,Digital Wallet,Unknown,2023-03-02
9483,TXN_7695629,Cookie,3.0,1.0,3.0,Digital Wallet,Unknown,2023-12-02
9484,TXN_6170729,Sandwich,3.0,4.0,12.0,Cash,In-store,2023-11-07

In [251]:
df['Day_of_Week'] = df['Transaction Date'].dt.dayofweek
df['Month'] = df['Transaction Date'].dt.month
df['Day'] = df['Transaction Date'].dt.day
df['Week_of_Year'] = df['Transaction Date'].dt.isocalendar().week
df['Is_Weekend'] = (df['Day_of_Week'] >= 5).astype(int)
df['Quarter'] = df['Transaction Date'].dt.quarter

df['Day_Name'] = df['Transaction Date'].dt.day_name()

def get_season(month):
    if month in [12, 1, 2]:
        return 'Winter'
    elif month in [3, 4, 5]:
        return 'Spring'
    elif month in [6, 7, 8]:
        return 'Summer'
    else:
        return 'Fall'

df['Season'] = df['Month'].apply(get_season)

df.reset_index(drop=True, inplace=True)

df.to_csv('cleaned_cafe_sales.csv', index=False)

In [252]:
df

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date,Day_of_Week,Month,Day,Week_of_Year,Is_Weekend,Quarter,Day_Name,Season
0,TXN_1961373,Coffee,2.0,2.0,4.0,Credit Card,Takeaway,2023-09-08,4,9,8,36,0,3,Friday,Fall
1,TXN_4977031,Cake,4.0,3.0,12.0,Cash,In-store,2023-05-16,1,5,16,20,0,2,Tuesday,Spring
2,TXN_4271903,Cookie,4.0,1.0,4.0,Credit Card,In-store,2023-07-19,2,7,19,29,0,3,Wednesday,Summer
3,TXN_7034554,Salad,2.0,5.0,10.0,Unknown,Unknown,2023-04-27,3,4,27,17,0,2,Thursday,Spring
4,TXN_3160411,Coffee,2.0,2.0,4.0,Digital Wallet,In-store,2023-06-11,6,6,11,23,1,2,Sunday,Summer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9480,TXN_7672686,Coffee,2.0,2.0,4.0,Unknown,Unknown,2023-08-30,2,8,30,35,0,3,Wednesday,Summer
9481,TXN_9659401,Cookie,3.0,1.0,3.0,Digital Wallet,Unknown,2023-06-02,4,6,2,22,0,2,Friday,Summer
9482,TXN_5255387,Coffee,4.0,2.0,8.0,Digital Wallet,Unknown,2023-03-02,3,3,2,9,0,1,Thursday,Spring
9483,TXN_7695629,Cookie,3.0,1.0,3.0,Digital Wallet,Unknown,2023-12-02,5,12,2,48,1,4,Saturday,Winter
9484,TXN_6170729,Sandwich,3.0,4.0,12.0,Cash,In-store,2023-11-07,1,11,7,45,0,4,Tuesday,Fall

In [253]:
df['Item'].value_counts()

Item
Juice       1250
Coffee      1239
Salad       1212
Cake        1181
Sandwich    1177
Smoothie    1147
Cookie      1144
Tea         1135
Name: count, dtype: int64